<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Generador de codigo de degradados para CSS"> 

    <!-- Metadata para PWA -->
    <!-- Modificar color barra de estado ANDROID -->
    <meta name="theme-color" content="#f3f3f3">
    <!-- Optimizacion de SEO -->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <!-- Modificar barra de estado IOS-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black-translucent">
    
    
    <title>Degradados</title>

    <!-- Iconos -->
    <link rel="shortcut icon" href="img/icon16.png" type="image/png">
    <link rel="apple-touch-icon" href="img/icon16.png">
    <link rel="apple-touch-startapp-image" href="img/icon16.png">

    <!-- Manifest-->
    <link rel="manifest" href="manifest.json">

    <!-- Estilos -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="./styles/css.css">
    
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
     <div id="app">
        <h1>{{title}}</h1>
        <hr>
        <form>
            <label>Color 1: <input type="color" v-model="color1"></label>
            <label>Color 2: <input type="color" v-model="color2"></label>
        </form>
        <hr>
        <p>
            HEX 1: {{color1}}
            HEX 2: {{color2}}
        </p>
        <form>
            <label>
                <input class="value-css" type="text" :value="setColor">
            </label>
            <hr>
            <label>
                <input type="radio" value="1" v-model.number="orientation"> Derecha
            </label>
            <label>
                <input type="radio" value="2" v-model.number="orientation"> Izquierda
            </label>
            <label>
                <input type="radio" value="3" v-model.number="orientation"> Arriba
            </label>
            <label>
                <input type="radio" value="4" v-model.number="orientation"> Abajo
            </label>
        </form>
        <hr>
        <div :style="setColor" id="cont">

        </div>
    </div>
    <script src="./load.js"></script>
    <script src="./js/js.js"></script>
    <script src="./js/mountApp.js"></script>
</body>
</html>