html,
body{
    background-color: #f3f3f3;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
}
.app{
    display: block;
}
#cont{
    width: 100%;
    height: 300px;
}
.value-css{
    width: 90%;
}